Repository Planning-Inspectorate/back-office, pull requests merged in 2023-07, with the labels that each got.

#1123 feat(appeals/api): add state transitions for has and fpa for saving appellant case and lpaq reviews
  appeals/api/src/server/endpoints/appeals/__tests__/appellant-cases.test.js
  appeals/api/src/server/endpoints/appeals/__tests__/lpa-questionnaires.test.js
  appeals/api/src/server/endpoints/appeals/appeals.controller.js
  appeals/api/src/server/endpoints/constants.js
  appeals/api/src/server/repositories/appeal.repository.js
  appeals/api/src/server/state/create-state-machine.js
  appeals/api/src/server/state/state-machines/fpa.js
  appeals/api/src/server/state/state-machines/has.js
  appeals/api/src/server/state/transition-state.js
  appeals/api/src/server/tests/data.js
Labels: appeals

#1132 Fix: Validate under 18 boolean and null values exist
  apps/web/src/server/applications/case/representations/representation/check-answers/check-answers.validators.js
Labels: applications

#1133 Fix: Check if person or agent type exist
  apps/web/src/server/applications/case/representations/representation/check-answers/check-answers.validators.js
Labels: applications

#1130 ASB-1590: Add back link to attachment page
  apps/web/src/server/applications/case/representations/representation/attachment-upload/attachment-upload.controller.js
  apps/web/src/server/applications/case/representations/representation/utils/get-page-links.js
Labels: applications

#1075 feat(web): appellant case issuing invalid decision (BOAT-234)
  .vscode/launch.json
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire-review/__tests__/__snapshots__/lpa-questionnaire-review.test.js.snap
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire-review/lpa-questionnaire-review.controller.js
  appeals/web/src/server/appeals/appeal-details/lpa-questionaire-review/lpa-questionnaire-review.mapper.js
  appeals/web/src/server/appeals/appeals.types.d.ts
  appeals/web/src/server/appeals/appellant-case/__tests__/__snapshots__/appellant-case.test.js.snap
  appeals/web/src/server/appeals/appellant-case/__tests__/appellant-case.test.js
  appeals/web/src/server/appeals/appellant-case/appellant-case.controller.js
  appeals/web/src/server/appeals/appellant-case/appellant-case.mapper.js
  appeals/web/src/server/appeals/appellant-case/appellant-case.router.js
  appeals/web/src/server/appeals/appellant-case/appellant-case.service.js
  appeals/web/src/server/appeals/appellant-case/appellant-case.validators.js
  appeals/web/src/server/lib/__tests__/libraries.test.js
  appeals/web/src/server/lib/nunjucks-filters/checkbox-item-parameter-add-conditional-html.js
  appeals/web/src/server/lib/nunjucks-filters/index.js
  appeals/web/src/server/lib/nunjucks-template-builders/summary-list-builder.js
  appeals/web/src/server/lib/object-utilities.js
  appeals/web/src/server/views/app/check-and-confirm.njk
  appeals/web/src/server/views/app/confirmation.njk
  appeals/web/src/server/views/appeals/appeal/appellant-case-invalid.njk
  appeals/web/testing/app/fixtures/referencedata.js
  appeals/web/typings.d.ts
Labels: appeals

#1172 fix(web): uri-encode html form data
  apps/web/src/client/components/html-content-editor/__tests__/html-content-editor.test.js
  apps/web/src/client/components/html-content-editor/html-content-editor.js
  apps/web/src/server/applications/case/project-updates/project-updates.mapper.js
Labels: applications

#1175 fix(web): decode form contents before validation
  apps/web/src/client/components/html-content-editor/html-content-editor.js
  apps/web/src/server/applications/case/project-updates/project-updates.validators.js
Labels: applications

#1196 fix(applications/api): check project-update content is safe
  apps/api/src/server/applications/application/project-updates/__tests__/project-updates.test.js
  apps/api/src/server/applications/application/project-updates/project-updates.controller.js
  apps/api/src/server/applications/application/project-updates/project-updates.mapper.js
Labels: applications

#1204 chore(deps): update prisma and @prisma/client to 4.16.1
  appeals/api/package.json
  apps/api/package.json
  package-lock.json
Labels: dependencies

#1218 fix(applications): document-storage-api was expecting a .env file
  apps/document-storage/Dockerfile
Labels: applications

#1219 fix(appeals/web): sort out SessionData type definition
  appeals/web/jsconfig.json
  appeals/web/types-session.d.ts
  appeals/web/typings.d.ts
Labels: appeals
