Repository Planning-Inspectorate/back-office, pull requests merged in 2023-09, with the labels that each got.

#1425 fix(applications/web): ensure project updates show in line in table
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  apps/web/src/server/views/applications/case/project-updates/project-updates-details.njk
  apps/web/src/server/views/applications/case/project-updates/project-updates-form.njk
  apps/web/src/server/views/applications/case/project-updates/project-updates-table.njk
  apps/web/src/styles/7-components/project-update.scss
  apps/web/src/styles/main.scss
Labels: applications

#1428 fix(web): ensure asset path is set in the template
  appeals/web/src/server/static/images/favicon.ico
  appeals/web/src/server/views/app/layouts/app.layout.njk
  appeals/web/src/styles/main.scss
  apps/web/src/server/views/app/layouts/app.layout.njk
  apps/web/src/styles/main.scss
Labels: applications, appeals

#1542 feat(api/applications): s51 advice delete api part 2 (boas-1163)
  apps/api/src/server/repositories/s51-advice.repository.js
Labels: applications

#1545 feat(tooling): only load .env or .env.test config
  appeals/api/.env.development
  appeals/api/.env.production
  appeals/web/.env.development
  appeals/web/.env.production
  apps/api/.env.development
  apps/api/.env.production
  apps/document-storage/.env.example
  apps/document-storage/Dockerfile
  apps/web/.env.development
  apps/web/.env.production
  packages/platform/utils/dotenv.js
Labels: applications, appeals

#1550 fix(applications/api): ensure subscriptions list filter by type works!
  apps/api/src/server/repositories/__tests__/subscription.repository.test.js
  apps/api/src/server/repositories/subscription.respository.js
Labels: applications

#1552 chore(web): remove unused schedule/task code
  appeals/web/package.json
  appeals/web/scripts/schedule/index.js
  appeals/web/scripts/tasks/clear-cache.js
  apps/web/package.json
  apps/web/scripts/schedule/index.js
  apps/web/scripts/tasks/clear-cache.js
Labels: applications, appeals

#1554 fix(web/applications): s51 advice publishing page bugs (boas-1178)
  apps/web/src/server/views/applications/case-s51/properties/s51-properties.njk
  apps/web/src/server/views/applications/case-s51/properties/tab-details.component.njk
Labels: applications

#1559 fix(applications/web): ensure project update type labels match the value
  apps/web/src/server/applications/case/project-updates/__tests__/__snapshots__/project-updates.test.js.snap
  apps/web/src/server/applications/case/project-updates/project-updates.view-model.js
  packages/applications/lib/application/project-update.js
Labels: applications

#1565 fix(applications/api): patch representation bug
  apps/api/src/server/repositories/representation.repository.js
Labels: bug, applications

#1566 fix(web/applications): fix exam timetable display no items (boas-1200)
  apps/web/src/server/applications/case/examination-timetable/applications-timetable.controller.js
Labels: applications

#1582 fix(tooling): don't load all app config for seeding
  appeals/api/src/database/seed/seed-development.js
  appeals/api/src/database/seed/seed-production.js
  apps/api/src/database/seed/seed-development.js
  apps/api/src/database/seed/seed-production.js
Labels: applications, appeals
