Repository Planning-Inspectorate/back-office, pull requests merged in 2024-03, with the labels that each got.

#2220 fix(applications/web): header is broken when in mobile portrait format (BOAS-1609)
  apps/web/src/styles/7-components/app-header.scss
Labels: applications

#2250 fix(applications/api): folder missing displayNameWelsh (BOAS-1646)
  apps/api/src/database/migrations/20240306133232_add_display_name_cy_to_folder_table/migration.sql
  apps/api/src/database/schema.prisma
  apps/api/src/server/applications/application/__tests__/start-case.test.js
  apps/api/src/server/applications/examination-timetable-items/__tests__/examination-timetable-items.test.js
  apps/api/src/server/applications/examination-timetable-items/examination-timetable-items.service.js
  apps/api/src/server/infrastructure/payload-builders/folder.js
Labels: applications

#2253 fix(applications/api): nsip-project projectEmailAddress can not be empty string (BOAS-1647)
  apps/api/src/server/applications/application/__tests__/update-application.test.js
  apps/api/src/server/applications/application/application.mapper.js
Labels: applications

#2242 chore(applications): remove redundant dependencies (BOAS-1615)
  apps/api/package.json
  apps/api/src/database/schema.d.ts
  apps/web/package.json
  package-lock.json
Labels: applications

#2255 fix(api/applications): schema validation fix s51 advice (boas-1617)
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-payload.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-publish.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice-update.test.js
  apps/api/src/server/applications/s51advice/__tests__/s51-advice.test.js
  apps/api/src/server/applications/s51advice/s51-advice.controller.js
  apps/api/src/server/infrastructure/event-broadcasters.js
  apps/api/src/server/infrastructure/payload-builders/nsip-s51-advice.js
  apps/api/src/server/utils/mapping/map-s51-advice-details.js
Labels: applications

#2254 fix(web): update transfer appeal flow to display custom error page when horizon is down
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/__snapshots__/change-appeal-type.test.js.snap
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/__tests__/change-appeal-type.test.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.controller.js
  appeals/web/src/server/appeals/appeal-details/change-appeal-type/change-appeal-type.validators.js
  appeals/web/src/server/views/app/500.njk
Labels: appeals

#2268 fix(applications/web): correct styling in document properties page (BOAS-1615)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
Labels: applications

#2272 fix(applications/web): fix e2e tests for document properties page (BOAS-1660)
  apps/e2e/cypress/page_objects/documentPropertiesPage.js
  apps/e2e/cypress/page_objects/folderDocumentsPage.js
  apps/e2e/cypress/page_objects/uploadFiles.js
Labels: applications

#2274 fix(applications/web): publishing queue link incorrectly placed (BOAS-1282)
  apps/web/src/server/applications/case/documentation/__tests__/__snapshots__/applications-documentation.test.js.snap
  apps/web/src/server/views/applications/case-documentation/properties/documentation-properties.njk
  apps/web/src/styles/7-components/_nav-button-group.scss
  apps/web/src/styles/main.scss
Labels: applications

#2279 fix(applications/api): fix seed error deleting in dependency order (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Labels: applications

#2281 fix(applications/api): fix seed error retry delete (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Labels: applications

#2282 fix(applications/api): fix seed error (BOAS-1613)
  apps/api/src/database/seed/seed-clear.js
Labels: applications

#2283 fix(applications/api): add db:reset pipeline for dev and test (BOAS-1613)
  azure-pipelines-db-reset-apps.yml
Labels: applications

#2203 chore(applications/api): reseed tables for migration
  apps/api/src/database/migrations/20240228104443_reseed_tables_for_migration/migration.sql
Labels: applications

#2269 fix(appeals): fix horizon appeal links for linked and related appeals
  appeals/api/src/server/endpoints/link-appeals/__tests__/link-appeal.test.js
  appeals/api/src/server/endpoints/link-appeals/link-appeals.controller.js
  appeals/api/src/server/endpoints/linkable-appeals/__tests__/linkable-appeal.test.js
  appeals/api/src/server/endpoints/linkable-appeals/linkable-appeal.service.js
  appeals/api/src/server/tests/horizon/mocks.js
  appeals/api/src/server/utils/horizon-gateway.js
  appeals/web/src/server/appeals/appeal-details/__tests__/__snapshots__/appeal-details.test.js.snap
  appeals/web/src/server/appeals/appeal-details/appeal-details.mapper.js
  appeals/web/src/server/lib/display-page-formatter.js
Labels: appeals

#2297 fix(applications/api): make sure api http logs are formatted as json (BOAS-1670)
  apps/api/package.json
  apps/api/src/server/build-app.js
  package-lock.json
Labels: applications

#2302 fix(applications): email notification - issue with bold text (BOAS-1671)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Labels: applications

#2301 fix(applications): project updates email notification parsing (BOAS-1659)
  apps/functions/applications-background-jobs/notify-subscribers/src/__tests__/notify-subscribers.test.js
  apps/functions/applications-background-jobs/notify-subscribers/src/notify-subscribers.js
Labels: applications

#2323 ci: remove appeal pipelines and build steps
  azure-pipelines-build.yml
  azure-pipelines-db-seed-appeals-production.yml
  azure-pipelines-db-seed-appeals.yml
  azure-pipelines-deploy-appeals.yml
  azure-pipelines-e2e-appeals.yml
  azure-pipelines-package-function-merge.yml
Labels: applications

#2312 fix(web/applications): fix ss request forgery on S51
  apps/web/src/server/applications/case/s51/applications-s51.controller.js
  apps/web/src/server/applications/case/s51/applications-s51.router.js
  apps/web/src/server/applications/case/s51/applications-s51.validators.js
Labels: applications

#2327 fix(web/applications): use modifiedDate when publishedDate not availa…
  apps/web/src/server/applications/applications.types.d.ts
  apps/web/src/server/applications/case/s51/__tests__/applications-s51.test.js
  apps/web/src/server/views/applications/case-s51/s51-table.njk
  apps/web/testing/applications/factory/s51-advice.js
Labels: applications

#2335 fix(web/applications): add validator on second s51 controller (boas-1…
  apps/web/src/server/applications/case/s51/applications-s51.router.js
Labels: bug, applications
